#aside_u13 {
  position: fixed;
  left: 810px;
  top: 90px;
  width: 10px;
  height: 500px;
  overflow: hidden;
}

#aside_u13_state0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 500px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  background-image: none;
}

#aside_u13_state0_content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1px;
  height: 1px;
}

#aside_u14 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 500px;
}

#aside_u14_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 500px;
}

#aside_u15 {
  position: absolute;
  left: 2px;
  top: 242px;
  width: 6px;
  visibility: hidden;
  word-wrap: break-word;
}

#aside_u13 {
  position: fixed;
  left: 810px;
  top: 90px;
  width: 10px;
  height: 500px;
  overflow: hidden;
}

#aside_u13_state0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 500px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  background-image: none;
}

#aside_u13_state0_content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1px;
  height: 1px;
}

#aside_u14 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 500px;
}

#aside_u14_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 10px;
  height: 500px;
}

#aside_u15 {
  position: absolute;
  left: 2px;
  top: 242px;
  width: 6px;
  visibility: hidden;
  word-wrap: break-word;
}