@top: 60px;
@filler: 64px;
@height: 60px;
#listProject_u19_0 {
  position: absolute;
  left: 0px;
  top: @top;
  width: 200px;
  height: @height;
  cursor: pointer;
}

#listProject_u19_1 {
  position: absolute;
  left: 0px;
  top: @top+@filler;
  width: 200px;
  height: @height;
  cursor: pointer;
}

#listProject_u19_2 {
  position: absolute;
  left: 0px;
  top: @top+@filler*2;
  width: 200px;
  height: @height;
  cursor: pointer;
}

#listProject_u19_3 {
  position: absolute;
  left: 0px;
  top: @top+@filler*3;
  width: 200px;
  height: @height;
  cursor: pointer;
}

#listProject_u19_4 {
  position: absolute;
  left: 0px;
  top: @top+@filler*4;
  width: 200px;
  height: @height;
  cursor: pointer;
}

.listProject_u20 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 60px;
  font-family: 'Microsoft YaHei';
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  line-height: 16px;
}

.listProject_u20_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 200px;
  height: 60px;
}

.listProject_u21 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 196px;
  word-wrap: break-word;
  font-size: larger;
}

.listProject_u21_txt {
  height: 60px;
  display: table-cell;
  vertical-align: middle;
}

.listProject_u21_span {
  text-align: center;
}
