body {
  margin: 0;
}

.articleContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 780px;
  position: relative;
  z-index: -1;
}

.stepBarContainer {
  position: absolute;
  top: 55px;
}

.editProjectContainer {
  position: absolute;
  top: -10px;
  left: 5px;
}
@import '../common/styles';
@import '../overlay/overlay';
@import '../homePage/header';
@import '../article/base.less';
@import '../projectPage/editProject/editProject';