body {
  margin: 0px;
  background-image: url('../../account/images/index/bg.png');
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
  position: static;
  left: auto;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

#v1 {
  position: absolute;
  left: 1210px;
  top: 50px;
  width: 28px;
  height: 14px;
}

#v1_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  height: 14px;
}

#v2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  white-space: nowrap;
  font-size: medium;
  color: #666666;
  font-family: '微软雅黑 Regular', '微软雅黑';
  font-size: small;
  cursor: pointer;
}
@import '../slider/slider';
@import '../cutter/cutter';
@import '../overlay/overlay';