body {
  margin: 0;
}
header {
  background-color: #149bad;
  color: #fff;
  height: 55px;
  left: 0px;
  top: 0px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
}
#u29 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  overflow: hidden;
}
#u29_state0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  background-color: #149bad;
  background-image: none;
}
#u29_state0_content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1px;
  height: 1px;
}
#u30 {
  position: absolute;
  left: 65px;
  top: -4px;
  width: 150px;
  height: 30px;
  font-weight: 700;
  font-style: normal;
  font-size: large;
}
#u30_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 30px;
}
#u31 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 150px;
  word-wrap: break-word;
}
#u32 {
  position: absolute;
  left: 890px;
  top: -3px;
  width: 28px;
  height: 14px;
}
#u32_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  height: 14px;
}
#u33 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  white-space: nowrap;
  font-size: medium;
}
#u34 {
  position: absolute;
  left: 925px;
  top: 11px;
  width: 60px;
  height: 20px;
}
#u34_input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 20px;
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-decoration: none;
  color: #000000;
  text-align: left;
}
#u35 {
  position: absolute;
  left: 1065px;
  top: -3px;
  width: 28px;
  height: 14px;
}
#u35_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  height: 14px;
}
#u36 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  white-space: nowrap;
  font-size: medium;
}
#u37 {
  position: absolute;
  left: 1100px;
  top: 11px;
  width: 60px;
  height: 20px;
}
#u37_input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 20px;
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-decoration: none;
  color: #000000;
  text-align: left;
}
#u38 {
  position: absolute;
  left: 1240px;
  top: 15px;
  width: 35px;
  height: 19px;
  font-family: 'Arial Negreta', 'Arial';
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
}
#u38_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 35px;
  height: 24px;
}
#u39 {
  position: absolute;
  left: 5px;
  top: -10px;
  width: 31px;
  word-wrap: break-word;
  cursor: pointer;
}
#u40 {
  position: absolute;
  left: 10px;
  top: 1px;
  width: 50px;
  height: 50px;
}
#u40_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 55px;
  height: 55px;
}
#u41 {
  position: absolute;
  left: 2px;
  top: 17px;
  width: 46px;
  visibility: hidden;
  word-wrap: break-word;
}
#v33 {
  position: absolute;
  left: 670px;
  top: 12px;
}
#v33_img {
  height: 28px;
  width: 120px;
  cursor: pointer;
}
#v37 {
  position: absolute;
  left: 795px;
  top: 11px;
  width: 60px;
  height: 20px;
}
#v37_input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80px;
  height: 20px;
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-decoration: none;
  color: #000000;
  text-align: left;
}
body {
  margin: 0px;
  background-image: url('../../account/images/index/bg.png');
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
  position: static;
  left: auto;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
#v1 {
  position: absolute;
  left: 1210px;
  top: 50px;
  width: 28px;
  height: 14px;
}
#v1_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  height: 14px;
}
#v2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  white-space: nowrap;
  font-size: medium;
  color: #666666;
  font-family: '微软雅黑 Regular', '微软雅黑';
  font-size: small;
  cursor: pointer;
}
.focus {
  font-weight: 700;
}
.form-horizontal .control-group {
  *zoom: 1;
  padding-top: 5px;
  margin-bottom: 1px;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: "";
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-label {
  float: left;
  width: 100px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  margin-left: 100px;
}
.form-horizontal .help-block {
  margin-top: 8px;
  margin-bottom: 0;
}
.form-horizontal .form-actions {
  margin-top: 8px;
  padding-left: 100px;
}
.auth-msg {
  margin-top: 18px;
  padding: 8px 36px;
  font-size: 12px;
  line-height: 13px;
  color: #333;
  background: url("http://a.tbcdn.cn/sys/common/img/msg_bg.png") no-repeat;
}
.auth-error {
  border: 1px solid #ffe1cc;
  background-position: 8px 6px;
  background-color: #fff2f2;
}
.auth-success {
  background-position: 8px -245px;
  border: 1px solid #a4da2e;
  background-color: #f0ffe5;
}
.auth-warn {
  background-position: 8px -145px;
  border: 1px solid #9bc9e8;
  background-color: #e6f1f9;
}
#changePassCaptchaValue {
  width: 50px;
}
#changePassEmail {
  width: 220px;
  font-weight: 700;
  color: #000000;
}
#getChangePassCaptcha {
  cursor: pointer;
}
#changePassCaptcha_img {
  cursor: pointer;
  height: 25px;
  width: 130px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  vertical-align: bottom;
}
.tab-content {
  height: 270px;
}
.tab-pannel {
  height: 270px;
}
#container {
  width: 580px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
#example {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 350px;
  position: relative;
}
#ribbon {
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: 500;
}
#frame {
  position: absolute;
  z-index: 0;
  width: 739px;
  height: 341px;
  top: -3px;
  left: -80px;
}
#slides {
  position: absolute;
  top: 15px;
  left: 4px;
  z-index: 100;
}
#slides .next,
#slides .prev {
  position: absolute;
  top: 107px;
  left: -39px;
  width: 24px;
  height: 43px;
  display: block;
  z-index: 101;
}
.slides_container {
  width: 570px;
  height: 270px;
  overflow: hidden;
  position: relative;
  /*display:none;*/
}
.slides_container a {
  width: 570px;
  height: 270px;
  display: block;
}
#slides .next {
  left: 585px;
}
#content {
  float: left;
  width: 350px;
  font-size: 1.3em;
  margin-right: 20px;
}
#content h1 {
  margin: 0 0 0 -4px;
}
#download {
  width: 190px;
  padding: 10px;
  float: left;
  font-size: 1.3em;
  background: url('http://jayli.github.io/gallery/yuislide/assets/download-background.png') no-repeat top center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pagination {
  margin: 26px auto 0;
  width: 100px;
}
.pagination li {
  list-style: none;
  magrin: 0 1px;
  float: left;
}
.pagination li a {
  display: block;
  width: 12px;
  height: 0;
  padding-top: 12px;
  background-image: url('http://jayli.github.io/gallery/yuislide/assets/pagination.png');
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
.pagination li.current a {
  background-position: 0 -12px;
}
a:link.download,
a:visited.download {
  margin-left: -5px;
  display: block;
  width: 200px;
  height: 0;
  padding-top: 55px;
  overflow: hidden;
  background-image: url('http://jayli.github.io/gallery/yuislide/assets/btn-download.png');
  background-position: 0 0;
}
a:hover.download,
a:active.download {
  background-position: 0 -55px;
}
#instructions {
  float: left;
  width: 580px;
  font-size: 1.3em;
}
#footer {
  float: left;
  width: 580px;
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 4.5px 0 18px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
#footer p {
  margin: 4.5px 0;
  font-size: 1.0em;
}
pre {
  /*line-height:1.5em !important;*/
  margin: 0 0 18px;
  padding: .5em;
  font: 12px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  text-shadow: none;
  clear: both;
}
ul.examples {
  list-style: disc;
  margin: -9px 0 9px 14px;
}
.expand {
  margin: 0 0 9px;
  position: relative;
}
.expand pre {
  margin: 9px 0;
}
.expand h4 {
  font-size: 1.1em;
}
.expand .content {
  display: none;
  overflow: hidden;
}
.expand .content .inner {
  margin: .56em 0;
  display: none;
}
.expand p {
  font-size: .9em;
  margin: 0;
}
.expand small {
  color: #838383;
}
#content .expand small {
  position: static;
}
.expand h5 {
  font-size: 1.1em;
  padding: .88em 0 0;
}
strong {
  font-weight: bold;
}
/* --------------------added by jayli--------------------- */
.hidden {
  display: none;
}
.DlHighlight {
  margin-left: 10px;
  background-color: transparent;
  border-left: 1px solid #ccc;
  padding-top: 0;
  padding-bottom: 0;
}
.cutter-mojo {
  width: 580px;
  height: 270px;
  overflow: hidden;
  position: relative;
  background: #FFFDF2;
  cursor: pointer;
  margin-bottom: 10px;
}
.cutter-mojo .cutter-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}
.cutter-mojo .cutter-content p {
  background: #F2EDDF;
  color: #E41170;
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 6px 5px 6px 8px;
  text-decoration: underline;
}
.cutter-mojo .cutter-content span {
  color: #333333;
  display: block;
  font-size: 90%;
  line-height: 16px;
  padding: 7px;
  z-index: 0;
}
.cutter-mojo img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.ks-overlay {
  position: absolute;
  left: -9999px;
  top: -9999px;
  background-color: #cccccc;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-radius: 5px;
}
.ks-overlay-hidden {
  visibility: hidden;
}
.ks-overlay-mask-hidden {
  display: none;
}
.ks-overlay-shown {
  visibility: visible;
}
.ks-overlay-mask-shown {
  display: block;
}
.ks-overlay-content {
  margin: 5px;
}
.headertitle {
  font-family: 'Arial Normal', 'Arial';
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}
.statisticalform {
  font-family: '微软雅黑 Regular', '微软雅黑';
}
.usernameheader {
  font-family: '微软雅黑 Regular', '微软雅黑';
  color: #FFFFFF;
}
.headershift {
  font-family: '微软雅黑 Regular', '微软雅黑';
  font-size: 14px;
  color: #D7D7D7;
}
.logintitle {
  font-family: '幼圆 Regular', '幼圆';
  font-weight: bold;
  color: #FFFFFF;
}
