body {
  margin: 0;
}
header {
  background-color: #149bad;
  color: #fff;
  height: 55px;
  left: 0px;
  top: 0px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
}
#u29 {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  overflow: hidden;
}
#u29_state0 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 50px;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  -ms-overflow-y: hidden;
  overflow-y: hidden;
  background-color: #149bad;
  background-image: none;
}
#u29_state0_content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1px;
  height: 1px;
}
#u30 {
  position: absolute;
  left: 65px;
  top: -4px;
  width: 150px;
  height: 30px;
  font-weight: 700;
  font-style: normal;
  font-size: large;
}
#u30_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 30px;
}
#u31 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 150px;
  word-wrap: break-word;
}
#u32 {
  position: absolute;
  left: 890px;
  top: -3px;
  width: 28px;
  height: 14px;
}
#u32_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  height: 14px;
}
#u33 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  white-space: nowrap;
  font-size: medium;
}
#u34 {
  position: absolute;
  left: 925px;
  top: 11px;
  width: 60px;
  height: 20px;
}
#u34_input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 20px;
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-decoration: none;
  color: #000000;
  text-align: left;
}
#u35 {
  position: absolute;
  left: 1065px;
  top: -3px;
  width: 28px;
  height: 14px;
}
#u35_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  height: 14px;
}
#u36 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  white-space: nowrap;
  font-size: medium;
}
#u37 {
  position: absolute;
  left: 1100px;
  top: 11px;
  width: 60px;
  height: 20px;
}
#u37_input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 120px;
  height: 20px;
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-decoration: none;
  color: #000000;
  text-align: left;
}
#u38 {
  position: absolute;
  left: 1240px;
  top: 15px;
  width: 35px;
  height: 19px;
  font-family: 'Arial Negreta', 'Arial';
  font-weight: 700;
  font-style: normal;
  color: #FFFFFF;
}
#u38_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 35px;
  height: 24px;
}
#u39 {
  position: absolute;
  left: 5px;
  top: -10px;
  width: 31px;
  word-wrap: break-word;
  cursor: pointer;
}
#u40 {
  position: absolute;
  left: 10px;
  top: 1px;
  width: 50px;
  height: 50px;
}
#u40_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 55px;
  height: 55px;
}
#u41 {
  position: absolute;
  left: 2px;
  top: 17px;
  width: 46px;
  visibility: hidden;
  word-wrap: break-word;
}
#v33 {
  position: absolute;
  left: 670px;
  top: 12px;
}
#v33_img {
  height: 28px;
  width: 120px;
  cursor: pointer;
}
#v37 {
  position: absolute;
  left: 795px;
  top: 11px;
  width: 60px;
  height: 20px;
}
#v37_input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80px;
  height: 20px;
  font-family: 'Arial Normal', 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-decoration: none;
  color: #000000;
  text-align: left;
}
body {
  margin: 0px;
  background-image: url('../../account/images/index/bg.png');
  background-position: center center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: auto;
  position: static;
  left: auto;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}
#base {
  margin-top: 100px;
}
#v1 {
  position: absolute;
  left: 1210px;
  top: 50px;
  width: 28px;
  height: 14px;
}
#v1_img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  height: 14px;
}
#v2 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 28px;
  white-space: nowrap;
  font-size: medium;
  color: #666666;
  font-family: '微软雅黑 Regular', '微软雅黑';
  font-size: small;
  cursor: pointer;
}
.focus {
  font-weight: 700;
}
.form-horizontal .control-group {
  *zoom: 1;
  margin-top: 10px;
}
.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  content: "";
}
.form-horizontal .control-group:after {
  clear: both;
}
.form-horizontal .control-label {
  float: left;
  width: 70px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  margin-left: 70px;
}
.form-horizontal .controls-hidden {
  margin-left: 70px;
  margin-top: 1px;
  padding-top: 1px;
}
.form-horizontal .help-block {
  margin-top: 1px;
  margin-bottom: 0;
}
.form-horizontal .form-actions {
  height: 20px;
  margin-top: 10px;
  padding-left: 70px;
}
.auth-msg {
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 8px 36px;
  font-size: 12px;
  line-height: 13px;
  color: #333;
  background: url("http://a.tbcdn.cn/sys/common/img/msg_bg.png") no-repeat;
  width: 120px;
}
.auth-error {
  border: 1px solid #ffe1cc;
  background-position: 8px 6px;
  background-color: #fff2f2;
}
.auth-success {
  background-position: 8px -245px;
  border: 1px solid #a4da2e;
  background-color: #f0ffe5;
}
.auth-warn {
  background-position: 8px -145px;
  border: 1px solid #9bc9e8;
  background-color: #e6f1f9;
}
#icpv1 {
  width: 50px;
}
#icpv2 {
  width: 185px;
  font-weight: 700;
  color: #000000;
}
#icpv5 {
  cursor: pointer;
}
#icpv6_img {
  cursor: pointer;
  height: 25px;
  width: 130px;
  padding-bottom: 0px;
  margin-bottom: 2px;
  vertical-align: bottom;
}
.tab-content {
  height: 270px;
}
.tab-pannel {
  height: 270px;
}
#container {
  width: 580px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}
#example {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: 350px;
  position: relative;
}
#ribbon {
  position: absolute;
  top: -3px;
  left: -15px;
  z-index: 500;
}
#frame {
  position: absolute;
  z-index: 0;
  width: 739px;
  height: 341px;
  top: -3px;
  left: -80px;
}
#slides {
  position: absolute;
  top: 15px;
  left: 4px;
  z-index: 100;
}
#slides .next,
#slides .prev {
  position: absolute;
  top: 107px;
  left: -39px;
  width: 24px;
  height: 43px;
  display: block;
  z-index: 101;
}
.slides_container {
  width: 570px;
  height: 270px;
  overflow: hidden;
  position: relative;
  /*display:none;*/
}
.slides_container a {
  width: 570px;
  height: 270px;
  display: block;
}
#slides .next {
  left: 585px;
}
#content {
  float: left;
  width: 350px;
  font-size: 1.3em;
  margin-right: 20px;
}
#content h1 {
  margin: 0 0 0 -4px;
}
#download {
  width: 190px;
  padding: 10px;
  float: left;
  font-size: 1.3em;
  background: url('http://jayli.github.io/gallery/yuislide/assets/download-background.png') no-repeat top center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pagination {
  margin: 26px auto 0;
  width: 100px;
}
.pagination li {
  list-style: none;
  magrin: 0 1px;
  float: left;
}
.pagination li a {
  display: block;
  width: 12px;
  height: 0;
  padding-top: 12px;
  background-image: url('http://jayli.github.io/gallery/yuislide/assets/pagination.png');
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
.pagination li.current a {
  background-position: 0 -12px;
}
a:link.download,
a:visited.download {
  margin-left: -5px;
  display: block;
  width: 200px;
  height: 0;
  padding-top: 55px;
  overflow: hidden;
  background-image: url('http://jayli.github.io/gallery/yuislide/assets/btn-download.png');
  background-position: 0 0;
}
a:hover.download,
a:active.download {
  background-position: 0 -55px;
}
#instructions {
  float: left;
  width: 580px;
  font-size: 1.3em;
}
#footer {
  float: left;
  width: 580px;
  margin-top: 9px;
  margin-bottom: 9px;
  padding: 4.5px 0 18px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
}
#footer p {
  margin: 4.5px 0;
  font-size: 1.0em;
}
pre {
  /*line-height:1.5em !important;*/
  margin: 0 0 18px;
  padding: .5em;
  font: 12px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
  text-shadow: none;
  clear: both;
}
ul.examples {
  list-style: disc;
  margin: -9px 0 9px 14px;
}
.expand {
  margin: 0 0 9px;
  position: relative;
}
.expand pre {
  margin: 9px 0;
}
.expand h4 {
  font-size: 1.1em;
}
.expand .content {
  display: none;
  overflow: hidden;
}
.expand .content .inner {
  margin: .56em 0;
  display: none;
}
.expand p {
  font-size: .9em;
  margin: 0;
}
.expand small {
  color: #838383;
}
#content .expand small {
  position: static;
}
.expand h5 {
  font-size: 1.1em;
  padding: .88em 0 0;
}
strong {
  font-weight: bold;
}
/* --------------------added by jayli--------------------- */
.hidden {
  display: none;
}
.DlHighlight {
  margin-left: 10px;
  background-color: transparent;
  border-left: 1px solid #ccc;
  padding-top: 0;
  padding-bottom: 0;
}
.cutter-mojo {
  width: 580px;
  height: 270px;
  overflow: hidden;
  position: relative;
  background: #FFFDF2;
  cursor: pointer;
  margin-bottom: 10px;
}
.cutter-mojo .cutter-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: default;
}
.cutter-mojo .cutter-content p {
  background: #F2EDDF;
  color: #E41170;
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 6px 5px 6px 8px;
  text-decoration: underline;
}
.cutter-mojo .cutter-content span {
  color: #333333;
  display: block;
  font-size: 90%;
  line-height: 16px;
  padding: 7px;
  z-index: 0;
}
.cutter-mojo img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.ks-overlay {
  position: absolute;
  left: -9999px;
  top: -9999px;
  background-color: #cccccc;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-radius: 5px;
}
.ks-overlay-hidden {
  visibility: hidden;
}
.ks-overlay-mask-hidden {
  display: none;
}
.ks-overlay-shown {
  visibility: visible;
}
.ks-overlay-mask-shown {
  display: block;
}
.ks-overlay-content {
  margin: 5px;
}
input,
textarea,
.uneditable-input {
  margin-left: 0;
}
input.span24,
textarea.span24,
.uneditable-input.span24 {
  width: 1180px;
}
input.span23,
textarea.span23,
.uneditable-input.span23 {
  width: 1130px;
}
input.span22,
textarea.span22,
.uneditable-input.span22 {
  width: 1080px;
}
input.span21,
textarea.span21,
.uneditable-input.span21 {
  width: 1030px;
}
input.span20,
textarea.span20,
.uneditable-input.span20 {
  width: 980px;
}
input.span19,
textarea.span19,
.uneditable-input.span19 {
  width: 930px;
}
input.span18,
textarea.span18,
.uneditable-input.span18 {
  width: 880px;
}
input.span17,
textarea.span17,
.uneditable-input.span17 {
  width: 830px;
}
input.span16,
textarea.span16,
.uneditable-input.span16 {
  width: 780px;
}
input.span15,
textarea.span15,
.uneditable-input.span15 {
  width: 730px;
}
input.span14,
textarea.span14,
.uneditable-input.span14 {
  width: 680px;
}
input.span13,
textarea.span13,
.uneditable-input.span13 {
  width: 630px;
}
input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 580px;
}
input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 530px;
}
input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 480px;
}
input.span9,
textarea.span9,
.uneditable-input.span9 {
  width: 430px;
}
input.span8,
textarea.span8,
.uneditable-input.span8 {
  width: 380px;
}
input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 330px;
}
input.span6,
textarea.span6,
.uneditable-input.span6 {
  width: 280px;
}
input.span5,
textarea.span5,
.uneditable-input.span5 {
  width: 230px;
}
input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 180px;
}
input.span3,
textarea.span3,
.uneditable-input.span3 {
  width: 130px;
}
input.span2,
textarea.span2,
.uneditable-input.span2 {
  width: 80px;
}
input.span1,
textarea.span1,
.uneditable-input.span1 {
  width: 30px;
}
input[class*="span"],
select[class*="span"],
uneditable-input[class*="span"],
textarea[class*="span"] {
  float: none;
  margin-left: 0;
}
textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2 s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2 s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2 s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2 s;
  transition: border linear 0.2s, box-shadow linear 0.2 s;
}
textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  padding: 4px;
  line-height: 1.5;
  color: #555555;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 3px 0;
}
label {
  display: block;
  margin-bottom: 5px;
}
