.headertitle {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:16px;
  color:#FFFFFF;
}
.statisticalform {
  font-family:'微软雅黑 Regular', '微软雅黑';
}
.usernameheader {
  font-family:'微软雅黑 Regular', '微软雅黑';
  color:#FFFFFF;
}
.portraitheader {
}
.headershift {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#D7D7D7;
}
.logintitle {
  font-family:'幼圆 Regular', '幼圆';
  font-weight:bold;
  color:#FFFFFF;
}
.logininput {
}